.App {
  text-align: center;
  background-image: url("/Images/pic3.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.App-header {
  background-color: #282c34;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  background-image: url("/Images/pic1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-clip: padding-box;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}
.List {
  background-color: lightblue;
  display: block;
  width: 20%;
  color: #f9faf6;
  background-image: url("/Images/pic5.jpg");
  list-style-type: none;
  float: left;
}
.Details {
  display: block;
  background-image: url("/Images/pic8.jpg");
  background-position: center;
  color: #14044def;
  float: left;
}
